{% extends 'base.html' %}
{% block title %} Create Account {% endblock %}{% block main_content %}
  <form action="/register" method="POST" class="">
    <div class="mb-3">{{ register_form.hidden_tag }}</div>
    <div class="mb-3">{{ register_form.first_name.label(class="form-label") }}: {{ register_form.first_name(class="form-control") }}</div>
    <div class="mb-3">{{ register_form.last_name.label(class="form-label") }}: {{ register_form.last_name(class="form-control") }}</div>
    <div class="mb-3">{{ register_form.email.label(class="form-label") }}: {{ register_form.email(class="form-control") }}</div>
    <div class="mb-3">{{ register_form.password.label(class="form-label") }}: {{ register_form.password(class="form-control" ) }}</div>
    <div class="mb-3">{{ register_form.confirm_password.label(class="form-label") }} {{ register_form.confirm_password(class="form-control") }}</div>
    {{ register_form.submit(class="btn btn-primary") }}
  </form>
{% endblock %}